label {
  display: block;
  text-transform: uppercase;
  color: $grey-200;
  margin-bottom: rem(14);
  font-size: rem(10);
}

input {
  display: block;
  height: rem(40);
  border: 2px solid $grey-200;
  font-size: rem(16);
  padding: rem(10);
  margin-bottom: rem(12);
  width: 100%;

  @include respond-to("small") {
    height: rem(52);
    margin-bottom: rem(27);
  }
}
