.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(10) 0;

  &__logo {
    height: rem(30);
    display: inline-block;

    img {
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: inline-block;
    padding: rem(15) rem(5);
    color: $grey-400;
    font-size: rem(18);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    font-weight: 300;
    transition: $animation-time all;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }

  &__toggle {
    font-size: 0;
  }

  &__btn {
    display: block;
    appearance: none;
    background-color: transparent;
    border: none;
    position: relative;
    width: rem(30);
    height: rem(30);
    padding: rem(5);
    outline: none;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: rem(5);
      right: rem(5);
      top: rem(13);
      height: rem(2);
      border-radius: rem(2);
      background: $primary;
      box-shadow: 0 rem(-6) $primary, 0 rem(6) $primary;
      transition: transform $animation-time, box-shadow $animation-time;
    }
  }

  &__menu {
    position: absolute;
    top: rem(50);
    left: 0;
    width: 100%;
    padding: 0 rem(20);
    transform: translateX(-100%);
    transition: transform $animation-time;
    background: $white;
    z-index: 2;
  }

  .is-open &__menu {
    transform: translateX(0);
  }

  .is-open &__btn {
    &::before {
      box-shadow: none;
      transform: rotate(45deg);
    }

    &::after {
      box-shadow: none;
      transform: rotate(-45deg);
    }
  }

  @include respond-to("medium") {
    padding: 0;

    &__logo {
      height: rem(50);
    }

    &__link {
      padding: rem(30) rem(15);
    }

    &__toggle {
      display: none;
    }

    &__menu {
      width: auto;
      position: static;
      transform: none;
    }

    &__list {
      display: flex;
    }
  }
}
