{% extends 'components/layout.njk' %}

{% block content %}
    {% include "components//hero.njk" %}
    {% include 'components/newsletter.njk' %}
    {% include 'components/article-banner.njk' %}
    {% include 'components/article.njk' %}
    {% include 'components/articles-row.njk' %}
{% endblock %}