<section class="u-bg-grey-100">
    <div class="container">
        <article class="article" role="article">
            <h2 class="h3 article__heading">Co jsme zač</h2>
            <p>
                <img class="u-float-left article__img" src="img/building.png" width="325" height="216" alt="building" title="building" loading=lazy />
                V roce 1997 si Martin a Vašek chtěli přivydělat při studiu ČVUT. Založili firmu a brzy s překvapením zjistili, že mohou zaměstnat i své přátele, kteří sdílí jejich znalosti a smysl pro humor. Po 20+ letech úspěšného fungování je <a href="/" class="link">Etnetera</a> <strong>přední společností v oblasti vývoje webových portálů a aplikací.</strong> Naším cílem je být jedničkou na českém trhu v tomto segmentu. Orientujeme se na <strong>dlouhodobá partnerství a hledání jedinečných řešení s přidanou hodnotou, která vás posunou vpřed.</strong> Naše sebedůvěra stojí na silném stabilním zázemí a zkušenostech z tisíce náročných projektů pro klienty, ktěří jsou špičkou v oboru. Držíme slovo i termíny, dokážeme přiznat a napravit chybu. Věříme sobě i vám.
            </p>
            <p>
                Pracujeme v liberálním a otevřeném prostředí bez kravat a procesních příruček. Inspirujeme se principy svobodné firmy, kde se zisky dělí transparentně, týmy si určují svá vlastní pravidla a management nemá nadstandardní benefity. Rádi společně sportujeme a podporujeme se. Kopeme za jeden tým.
            </p>
            <p>
                Není proto náhoda, že jsme se <span class="tooltip" id="articleTooltip" aria-describedby="tooltip">4 roky po sobě</span><span id="tooltip" role="tooltip">Hustý, co?<span id="arrow" data-popper-arrow></span></span> umístili na třech nejvyšších příčkách v soutěži Best Employers ČR.
            </p>
            {% include "components/chart.njk" %}
            <div class="grid">
                <div class="grid__col grid__col--50">
                    <h2 class="h3">Chceš být naším parťákem?</h2>
                    <p>Měl(a) bys:</p>
                    <ul class="list list--check">
                        <li class="list__item">
                            Žít HTML5, CSS3. Doslova.Tento jazyk Ti občas připadá přirozenější než čeština.
                        </li>
                        <li class="list__item">
                            Znát Javascript.
                        </li>
                        <li class="list__item">
                            Nad pojmy ES6/7, React a Redux bys neměl bezradně krčit rameny, ale bezpečně je znát.
                        </li>
                        <li class="list__item">
                            Node.js je Tvůj dobrý kamarád, který používáš při buildování
                        </li>
                        <li class="list__item">
                            Velkou výhodu představují dobré vztahy s dalšími JS frameworky. Tzn. pokud si tykáš třeba s Angular, Vue.js či Vanilla JS.
                        </li>
                        <li class="list__item">
                            Uvedené technologie Tě zajímají, ale nemáš s nimi moc zkušeností? Nevadí, stav se k nám na kafe, probereme, co se s tím dá dělat.
                        </li>
                    </ul>
                </div>
                <div class="grid__col grid__col--50">
                    <h2 class="h3">Co za to dostaneš?</h2>
                    <p>Budeme si tě hýčkat např.:</p>
                    <ol class="list list--order">
                        <li class="list__item">
                            Komfortním pracovním prostředím, které je unikátní kombinací kanceláří, tělocvičny, odpočinkových prostor a kavárny. U nás se strohé prostředí a nažehlené límečky fakt nenosí.
                        </li>
                        <li class="list__item">
                            Pestrým koktejlem takových těch typických benefitů jako jsou třeba stravenková platební karta, Multisport karta, příspěvky na vzdělání, dopravu a další.
                        </li>
                        <li class="list__item">
                            Možností pořádně si oddychnout. Nejen v našich relaxačních prostorech, ale třeba na pláži v exotice. Díky 5 týdnům placené dovolené.
                        </li>
                        <li class="list__item">
                            Inspirativním prostředím plným zajímavých lidí, které stojí za to poznat. Organizujeme pravidelné TechLunche, kdy nad lahodnou pizzou sdílíme naše nové poznatky a vědomosti.
                        </li>
                        <li class="list__item">
                            A hlavně… svobodou!!! Budeme rádi, pokud s námi budeš v kanceláři, ale rozumíme tomu, že někdy budeš chtít pracovat i odjinud. Zároveň chápeme, že každému z nás vyhovuje jiná pracovní doba a zařízení, na kterém pracuje. Pojďme se pobavit o tvých preferencích, určitě se domluvíme.
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>