<section class="u-bg-primary">
    <div class="container">
        <div class="article-banner">
            <div class="article-banner__item u-tt-uppercase">
                Před 12 dny
            </div>
            <div class="article-banner__title">
                Jiří Štěpán z Etnetera Activate poodhalil zákulisí vykutálené náborové kampaně.
            </div>
            <a class="article-banner__link" href="/">
                Přečíst
            </a>
        </div>
    </div>
</section>