<div class="chart">
    <h4>Návštěvnost firmy</h4>
    <div class="chart__container">
        <canvas id="myChart" width="496" height="117"></canvas>
        <img class="chart__logo" alt="Etnetera logo" src="img/logo-graf.png" width="30" height="52" />
        <img class="chart__clock" alt="clock" src="img/clock.svg" width="19" height="19" />
    </div>
    <div class="chart__legend">
        <div class="chart__label">
            bez fronty
        </div>
        <div class="chart__label">
            možnost fronty
        </div>
        <div class="chart__label">
            pravděpodobné čekání ve frontě
        </div>
    </div>
</div>