<footer class="container container--large" role="contentinfo">
    <div class="footer">
        <div class="footer__copy">
            <span class="u-color-primary">Copyright</span><br>
            &copy; 2019 Etnetera
        </div>
        <p>Jsme hrdým členem <a href="/" class="link">Etnetera Group</a></p>
    </div>
</footer>