<header class="u-bg-white header">
    <div class="container container--large">
        <nav class="nav" data-header role="navigation">
            <a href="/" class="nav__logo" role="banner">
                <img src="img/Logo.svg" width="150" height="50" title="logo"/>
            </a>
            <div class="nav__toggle">
                <button class="nav__btn" data-togle-menu aria-label="toggle menu visibility"
                        title="toggle menu visibility"></button>
            </div>
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="#">
                            Domů
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">
                            Kdo jsme
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">
                            Co děláme
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">
                            Reference
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">
                            Práce u nás (4)
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">
                            Kontakt
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>