<div class="newsletter" data-newsletter>
    <div class="newsletter__content">
        <button type="button" class="newsletter__close" title="close" data-close-newsletter></button>
        <h2 class="h4 newsletter__title">
            Dostávejte články  přímo do vaší e&#8209;mailové schránky!
        </h2>
        <form class="newsletter__form">
            <label for="newsletterEmail">
                Vaše e-mailová adresa
            </label>
            <input title="Vaše e-mailová adresa" id="newsletterEmail" type="email" />
            <button type="submit" class="btn btn--primary newsletter__btn">Odeslat</button>
        </form>
        <small class="newsletter__perex">
            Podmínky zpracování osobních údajů („Podmínky“) poskytují informace o shromažďování, zaznamenání, používání a jiného zpracování osobních údajů společností Etnetera a.s. se sídlem Jankovcova 1037/49, 170 00 Praha 7, IČO: 25103814, zapsána u MS Praha, sp.zn. B 11168, jakožto správcem osobních údajů.
        </small>
    </div>
    <button type="button" title="newsletter" class="newsletter__trigger" data-open-newsletter>  
    </button>
</div>

